
<style>
    .card{
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;    
    }

</style>


{% extends 'base.html' %}
{% block title %}
Product Arena
{% endblock %}
{% block content %}

<div class="cards-pal">
    <div class="card">
        <div class="card-header bg-dark">
            <h3>
                Flutter Mobile App + Node.js Backend
            </h3>
        </div>
        <div class="card-body bg-dark">
           <p class="card-text">Veoma koristan kurs kako razviti Flutter aplikaciju sa backendom napisanim u Node.js-u. Iako ćemo na tromjesečnoj praksi koristiti drugačiji način spajanja te ćemo koristiti AWS cloud, ovo može biti super korisno. Obavezno je da se ovaj kurs prođe čitav te da se ista aplikacija razvije.</p>
           <a href="https://www.youtube.com/watch?v=ylJz7N-dv1E" class="btn btn-primary">Pogledaj</a>
        </div>
     </div>
     <div class="card">
        <div class="card-header bg-dark">
           <h3>How to speak the language of Application Architecture</h3>
        </div>
        <div class="card-body bg-dark">
           <p class="card-text">Razvoj softwera nije samo slaganje kockica, već zahtijeva planiranje načina slaganja tih kockica. Kako bi bio/bila u stanju da razumiješ koncepte kako se ovo radi, potrebno je da barem pogledaš ovaj video. Ovdje možeš pronaći veoma dobar sadržaj. Ako budeš imao/la vremena, toplo preporučujemo da pogledaš još sličnih videa na ovu temu!</p>
           <a href="https://www.youtube.com/watch?v=kGYGEcdPE2U" class="btn btn-primary">Pogledaj</a>
        </div>
     </div>
     </div>
     <div class="card">
        <div class="card-header bg-dark">
           <h3>
            APIs for Beginners
           </h3>
        </div>
        <div class="card-body bg-dark">
           <p class="card-text">Kao i u govoru, možemo imati najbolju ideju, ali ako tu ideju ne možemo iskomunicirati onda sve pada u vodu. Tako je i sa softwerom, potrebno je da razumiješ na koji način frontend komunicira sa backend-om.</p>
           <a href="https://www.youtube.com/watch?v=GZvSYJDk-us" class="btn btn-primary">Pogledaj</a>
        </div>
     </div>
     <div class="card">
        <div class="card-header bg-dark">
           <h3>Git and GitHub for Beginners</h3>
        </div>
        <div class="card-body bg-dark">
           <p class="card-text">GitHub je jedna od najpopularnijih platformi za čuvanje koda i za kolaboraciju za programere te je potrebno da razumiješ barem njene osnove.</p>
           <a href="https://www.youtube.com/watch?v=tRZGeaHPoaw" class="btn btn-primary">Pogledaj</a>
        </div>
     </div>
     <div class="card">
        <div class="card-header bg-dark">
           <h3>SOLID Principles (Uncle Bob)</h3>
        </div>
        <div class="card-body bg-dark">
           <p class="card-text">Predavanje na temu SOLID principa od strane Rober C. Martina, poznatijeg kao Uncle Bob. Robert je u svijetu softwera ekvivalentan Ronaldu u fudbalu. Ako budeš imao/la vremena, preporučujemo da pogledaš još predavanja na temu SOLID principa i predavanja Uncle Bob-a.</p>
           <a href="https://www.youtube.com/watch?v=zHiWqnTWsn4" class="btn btn-primary">Pogledaj</a>
        </div>
     </div>
     <div class="card">
        <div class="card-header bg-dark">
           <h3>
            Uncle Bobs solid Principles made easy
           </h3>
        </div>
        <div class="card-body bg-dark">
           <p class="card-text">Pojednostavljena verzija ovog što Uncle Bob govori.</p>
           <a href="https://www.youtube.com/watch?v=pTB30aXS77U" class="btn btn-primary">Pogledaj</a>
        </div>
     </div>
</div>

{% endblock %}